{% extends 'base.html' %} {% load static %} {% block content %}
<main class="main-block-content">
  <section class="hero">
    <div class="hero-section-left">
      <div class="bounding-box">
        <h1 class="site-heading">Work with me</h1>
        <a href={% url 'contact' %}><button class="cta-button">Check availability</button></a>
      </div>
    </div>
    <div class="hero-section-right">
      <img
        class="hero-image"
        src="{% static 'images/logo.svg' %}"
        alt="EventBulb Logo"
      />
    </div>
  </section>
  <section class="card landing-text-container">
    <div class="wave-divider"></div>
    <div class="about-wrapper">
      <div class="container">
        <h2>About Rooted Ventures</h2>
        <p class="landing-text">Welcome to Rooted Ventures, a yoga and wellness website that helps you connect with your true self. Here you will find yoga classes, meditation guides, wellness tips and more to help you cultivate a balanced and harmonious lifestyle. Whether you are a beginner or an experienced yogi, we have something for you. Join us today and discover the benefits of being rooted in your body, mind and spirit.</p>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
