{% extends 'base.html' %} {% load static %} {% block content %}
<main class="main-block-content">
  <div class="card-background two-thirds-width">
    <section class="hero">
      <div class="hero-section-left">
        <h1 class="site-heading">Work with me</h1>
        <button>Check availability</button>
      </div>
      <div class="hero-section-right">
        <img
          class="hero-image"
          src="{% static 'images/logo.svg' %}"
          alt="EventBulb Logo"
        />
      </div>
    </section>
    <section class="card landing-text-container">
      <h2>About Rooted Ventures</h2>
      <p class="landing-text">Content about</p>
    </section>
  </div>
</main>
{% endblock content %}
